

.button{
    -fx-background-color: rgb(201, 201, 201);
    -fx-text-fill: black;
}

.button:hover{
    -fx-background-color: rgb(43, 120, 228);
    -fx-text-fill: white;
}

.text-area {
    -fx-background-color: rgb(255, 229, 153);
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-font-size: 10pt;

    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-opacity: 1;
}

.table-cell{
    -fx-font-size: 12;
    -fx-alignment: center;
}

#txtFldDataFrom{
    -fx-font-size: 16 px;
}

#txtFldDataTo{
    -fx-font-size: 16 px;
 }

#pnlHeader{
    -fx-background-color: rgb(238, 238, 238);
}
#panelLeft{
    -fx-background-color: rgb(238, 238, 238);
}

#panelBottom #pnlSeparatore {
    -fx-background-color: rgb(238, 238, 238);
}


#pnlTitle  {
    -fx-background-color: rgb(43, 120, 228);
}

#pnlTitleTable1  {
    -fx-background-color: rgb(43, 120, 228);
}

#pnlTitleTable2  {
    -fx-background-color: rgb(43, 120, 228);
}

#pnlTitleTable3  {
    -fx-background-color: rgb(43, 120, 228);
}


#lblTitle {
    -fx-text-fill: white;
}

#lblTable1 {
    -fx-text-fill: white;
}

#lblTable2 {
    -fx-text-fill: white;
}

#lblTable3 {
    -fx-text-fill: white;
}

#lblBottom{
    -fx-text-fill: rgb(43, 120, 228);
}

#lblTotProfitti{
    -fx-text-fill: #ff5d00;
}
#lblTotVendite{
    -fx-text-fill: #ff5d00;
}

#lblTitleTotProfitti{
    -fx-text-fill: #ff5d00;
}
#lblTitleTotVendite{
    -fx-text-fill: #ff5d00;
}




