
.button{
    -fx-background-color: rgb(201, 201, 201);
    -fx-text-fill: black;
}

.button:hover{
    -fx-background-color: rgb(43, 120, 228);
    -fx-text-fill: white;
}

.text-area {
    -fx-background-color: rgb(255, 229, 153);
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-font-size: 10pt;
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.table-cell{
    -fx-font-size: 14;
}

#txtFldDataFrom{
    -fx-font-size: 16 px;
}

#txtFldDataTo{
    -fx-font-size: 16 px;
 }

#pnlHeader,#pnlDayLav,#graficoConfronto{
    -fx-background-color: rgb(238, 238, 238);
}
#panelLeft{
    -fx-background-color: rgb(238, 238, 238);
}

#panelBottom{
    -fx-background-color: rgb(238, 238, 238);
}

#pnlTitle{
    -fx-background-color: rgb(43, 120, 228);
}

#lblTitle{
    -fx-text-fill: white;
}
#lblBottom{
    -fx-text-fill: rgb(43, 120, 228);
}

.confrontoTableUp{

    -fx-text-fill: #0702ff;
}

.confrontoTableDown{

    -fx-text-fill: #ff0000;
}

#pnlLblGiorniFeriali{
    -fx-background-color: rgb(6, 128, 28);
}


#lblGiorniFeriali
{
    -fx-text-fill: white;
}





