.root * {
    -fx-font-family: "Calibri";
}

.button{
    -fx-background-color: rgb(201, 201, 201);
    -fx-text-fill: black;
    -fx-font-size: 18;
}

.radio-button,.check-box{
    -fx-font-size: 16;
}

.button:hover{
    -fx-background-color: rgb(43, 120, 228);
    -fx-text-fill: white;
    -fx-font-family: "Calibri";
}

.list-view{
    -fx-font-size: 14;
}

.text-area {
    -fx-background-color: rgb(255, 229, 153);
    -fx-font-family: Calibri;
    -fx-font-size: 14;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;

}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;

}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-font-size: 16pt;
    -fx-alignment: center;
    -fx-opacity: 1;
}

.table-cell{
    -fx-font-size: 16;
}

#colTotaleVendite,#colTotaleProfitti{
    -fx-alignment: CENTER_RIGHT;
}

#btnEsci{
    -fx-font-size: 24 ;
}


#fldDateFrom,#fldDateTo,#cancDateFrom,#cancDateTo,#lblDataFrom,#lblDataTo,#lblCancFrom,#lblCancTo{
    -fx-font-size: 16 px;

}

#pnlHeader,#pnlgrafico,#panelLeft,#panelBottom{
    -fx-background-color: rgb(238, 238, 238);

}

#pnlTitle{
    -fx-background-color: rgb(43, 120, 228);

}

#lblTitle{
    -fx-text-fill: white;
    -fx-font-size: 28;
}

#lblBottom,#lblBottom2{
    -fx-text-fill: rgb(43, 120, 228);

}

#lblTotProfitti,#lblTotVendite,#lblTitleTotProfitti,#lblTitleTotVendite{
    -fx-text-fill: #ff5d00;
    -fx-font-size: 24;
}


#btnAggMov{
    -fx-background-color: rgb(6, 128, 28);
    -fx-text-fill: #eeeeee;

}


